{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MilitaryTinder</title>
    <link rel="stylesheet" href="{% static 'css/tinder.css' %}">
</head>
<body>
    <div class="top-menu">MilitaryTinder</div>

    <main>
        {% if current_request %}
            <div class="request-card">
                <h3>{{ current_request.name }}</h3>
                <p><strong>{{ current_request.category }}</strong></p>
                <p>{{ current_request.description }}</p>

                {% if current_request.urgency %}
                    <div class="urgency">ТЕРМІНОВІСТЬ: {{ current_request.urgency|upper }}</div>
                {% endif %}

                <div class="button-container">
                    <a href="{% url 'volunteer_app:reject_request' current_request.id %}" class="reject-button">✖</a>
                    <a href="{% url 'chat:start_chat' current_request.id %}" class="info-button">Більше інформації</a>
                    <a href="{% url 'volunteer_app:accept_request' current_request.id %}" class="accept-button">Берусь</a>
                </div>
            </div>
        {% else %}
            <p class="no-requests">Наразі немає нових запитів.</p>
        {% endif %}
    </main>

    <div class="bottom-menu">
        {% if request.path != '/' %}
            <a href="{% url 'map' %}">🔥</a>
        {% endif %}
        <a href="{% url 'volunteer_app:chat_history' %}">🕓 Історія чатів</a>
        <a href="{% url 'personal_page' %}">👤</a>
    </div>

</body>
</html>